table{
		width:100%;
		text-align: left;
		border-collapse: collapse;
		border: solid;
		border-radius: 50xp;
}

th, td{
	padding: 10px;
	font-family: arial;
}

thead{
	background-color: #318774;
	border-bottom: solid 3px #0f362d;
	color: white;
}

tr:nth-child(even){
	background-color: #ddd;
}
